.container-wrapper {
  width: 100%;
  background: green;
}

.header-wrapper {
  width: 100%;
}

.header-top-wrapper {
  width: 100%;
  background: #7dd9e8;
}

.header-top {
  width: 938px;
  padding: 22px 32px 28px;
  margin: 0px auto;
  overflow: auto;
  background: blue;
}

.header-top-left {
  float: left;
}

.tutangle-logo {
  width: 225px;
  background: red;
}

.header-top-left-2 {
  float: left;
  width: 342px;
  background: white;
}

.header-top-right {
  float: right;
}

.username-wrapper {
  background: yellow;
}

.navbar-wrapper {
  background: green;
}

.header-bottom-wrapper {
  width: 100%;
  background: #f5f5f5;
}

.header-bottom {
  width: 938px;
  padding: 15px 32px;
  margin: 0px auto;
  overflow: auto;
  background: yellow;
  /* padding: 10px; */
}

.header-bottom-left {
  width: 485px;
  background: orange;
  float: left;
}

.header-bottom-right {
  float: right;
  background: hotpink;
}

.body-wrapper {
  width: 938px;
  padding: 32px;
  margin: 0 auto;
  background: blue;
  overflow: auto;
}

.body-left {
  float: left;
  background: red;
  width: 196px;
}

.recent-searches {
  width: 100%;
}

.recent-searches-wrapper {
  width: 100%;
  background: yellow;
}

.recent-searches-heading {
  width: 100%;
  background: skyblue;
}

.recent-searches-body {
  width: 100%;
  background: grey;
}

.body-right {
  float: right;
  background: grey;
  width: 720px;
}

.entries-wrapper {
  width: 520px;
  background: peru;
  float: left;
}

.all-entries-wrapper {
  float: left;
  width: 50%;
  background: silver;
}

.all-entries-menu {
  width: 100%;
  background: lightslategrey;
}

.subscribed-menu {
  width: 100%;
  background: lightseagreen;
}
.subscribed-wrapper {
  float: right;
  width: 50%;
  background: teal;
}

.entries-body {
  width: 100%;
  background: brown;
}

.entry-item {
  width: 100%;
  padding: 16px 0;
  overflow: auto;
}

.entry-image {
  width: 72px;
  height: 72px;
  background: yellow;
  float: left;
}

.entry-description {
  width: 432px;
  background: greenyellow;
  float: right;
}

.video-tutorial-wrapper {
  width: 176px;
  background: royalblue;
  float: right;
}

.video-tutorial-header {
  width: 100%;
  background: chocolate;
}
.video-tutorial-body {
  width: 100%;
  background: violet;
}

.footer-wrapper {
  width: 100%;
  background: #00bcd4;
}

.footer {
  width: 938px;
  padding: 20px 32px;
  margin: 0 auto;
  overflow: auto;
  background: purple;
}

.footer-left {
  float: left;
  background: red;
}

.footer-right {
  float: right;
  background: green;
}
