#app {
  font-family: "Poppins", sans-serif;
  background-color: #333639;
}

.screen {
  margin: 10px;
}

.svg-frame {
  background-color: #fff;
}

.container {
  display: flex;
  height: 100vh;
}

.side-bar {
  width: 250px;
  height: 100%;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.5);
}

.side-bar-left {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.screen-container {
  flex: 1;
}

.top-toolbar {
  padding: 10px 20px 0;
  display: flex;
  justify-content: flex-end;
  height: 60px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.5);
}

.frame-list {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 75vh;
  width: 200px;
  margin: 4px auto 5px;
  background: #f4f0f2;
  border-radius: 5px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
}

.frame-buttons {
  justify-content: center;
}

.frame-list-item {
  height: 100px;
  width: 150px;
  background-color: #fff;
  margin: 10px 10px;
  border-radius: 5px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.frame-list-item:hover {
  cursor: pointer;
}

.--active {
  border-left: 10px solid #938cb9;
  border-right: 10px solid #938cb9;
}

.frame-image {
  width: 100%;
  height: auto;
}

.help-wrapper {
  padding: 20px;
  color: #fff;
}

.flex {
  display: flex;
}
