* {
  margin: 0;
  padding: 0;
  /* background: #2f4f4f; */
}

.svg {
  border: 1px solid #373737;
}

.draggable {
  cursor: move;
}

.toolbar {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}

#animTimeline {
  display: flex;
}

.animFrame {
  width: 10px;
  background: lightgrey;
  height: 50px;
  margin-right: 5px;
}

.--activeFrame {
  background: #373737;
}
