* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container {
  width: 450px;
  height: 200px;
  margin: 10px;
}

.change-button {
  height: 50px;
  width: 50px;
  background: #000;
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

.change-button:disabled {
  cursor: not-allowed;
}

.dot-container {
  position: absolute;
  left: 45%;
}

.dot-btn {
  height: 15px;
  width: 15px;
  background: #fff;
  border-radius: 10px;
  opacity: 0.8;
  margin: 5px;
  border: none;
  outline: none;
  border: 2px solid #000;
}

.dot-btn.active-dot {
  background: #000;
  border: 2px solid #fff;
}

.dot-btn:hover {
  cursor: pointer;
}

.dot-btn:disabled {
  cursor: not-allowed;
}

@media screen and (min-width: 860px) {
  .dot-container {
    bottom: 5%;
  }
}
