.pandora-logo {
  float: left;
  margin-right: 16px;
}

.pandora-text {
  float: left;
  margin-top: 6px;
  font-size: 12px;
  color: #cc003e;
}

.account-info ul {
  list-style-type: none;
}

.account-info ul li {
  display: inline-block;
}

.account-info-link {
  text-decoration: none;
  color: black;
}

.account-info-link:hover {
  color: #cc003e;
}

.hamburger-icon:hover {
  cursor: pointer;
}

.header-icon {
  margin-top: 10px;
}

.login-label {
  font-size: 10px;
  font-weight: bold;
  margin-right: 15px;
}

.login-input {
  margin-right: 15px;
  height: 28px;
  border: none;
  width: 168px;
  padding-left: 5px;
}

.email-wrapper {
  float: left;
}

.contact-info img {
  margin-right: 20px;
}

.password-wrapper {
  float: left;
  position: relative;
}

.forget-link {
  position: absolute;
  left: 110px;
  top: 5px;
}

.login-btn {
  background: #cc003e;
  padding: 8px 18px;
  border: none;
  margin-right: 15px;
  color: white;
}

.login-btn:hover {
  cursor: pointer;
  background-color: #cc6f0e;
}

.header-bottom-down {
  overflow: auto;
  padding: 22px 0;
}

.nav-wrapper {
  float: left;
}

.nav-item {
  padding: 0 18px;
  padding-bottom: 10px;
}

.nav-item:hover {
  border-bottom: 2px solid black;
  cursor: pointer;
}

.nav-item a {
  text-decoration: none;
  color: black;
}

.search-wrapper {
  float: right;
  position: relative;
}

.nav-wrapper ul {
  list-style: none;
}

.nav-wrapper ul li {
  display: inline-block;
}

/* pop up */

.account-info-sm ul {
  list-style: none;
}

.account-info-sm ul li {
  margin: 20px;
}

.login-wrapper-sm {
  margin: 20px;
}

.login-input-sm {
  width: 60%;
  height: 30px;
  margin: 10px 0;
}

.navbar-sm {
  margin: 20px;
}

.navbar-sm ul {
  list-style: none;
}

.navbar-sm ul li {
  margin: 15px 0;
}

.search-input-sm {
  width: 50%;
  margin: 20px;
}
/* pop up */

.slider-image {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.laptop-img {
  width: 80%;
}

.welcome-heading {
  text-align: center;
  font-size: 18px;
  margin: 22px 0;
}

.welcome-pandora-text {
  font-weight: bold;
}

.welcome-body {
  text-align: center;
  line-height: 1.5;
}

.welcome-body-bold {
  font-weight: bold;
}

.section-heading {
  font-size: 20px;
}

.view-more-item {
  text-decoration: none;
  color: #000;
}

.view-more-item:hover {
  text-decoration: none;
  color: #555;
}
.section-header {
  margin: 34px 0;
  overflow: auto;
}

.feature-image-wrapper {
  width: 212px;
  height: 262px;
  margin: auto;
}

.feature-image-wrapper img {
  width: 100%;
  height: 100%;
}

.feature-list {
  list-style: none;
  text-align: center;
}

.feature-item {
  margin: 24px 3px;
  padding: 8px 0;
  display: inline-block;

  width: 238px;
  height: 340px;
  background: #fff;
  color: #cc003e;
  text-align: center;
  position: relative;
}

.sale-tag {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
}

.item-name {
  margin: 15px 0;
}
.price-tag {
  font-size: 20px;
  font-weight: bold;
}

.cut-price {
  font-weight: normal;
  font-size: 14px;
  text-decoration: line-through;
  color: #555;
}

.special-list {
  list-style: none;
  text-align: center;
}

.special-list li {
  display: inline-block;
  margin: 8px;
}

.extras-wrapper {
  text-align: center;
  padding: 20px 0;
}

.extras {
  width: 315px;
  margin: 10px auto;
  vertical-align: top;
}

.extras-header {
  font-size: 18px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
  text-align: left;
}

.news-blog-list {
  list-style-type: none;
  text-align: left;
}

.news-blog-item {
  padding: 28px 0;
  border-bottom: 1px solid #fff;
}
.news-blog-heading {
  color: #cc003e;
  font-size: 18px;
  margin: 8px 0;
}

.news-blog-text {
  font-size: 12px;
}
.news-blog-info {
  margin: 8px 0;
  font-size: 10px;
}
.news-blog-info-text {
  margin: 0 6px;
}

.news-read-more a {
  font-weight: bold;
  color: #cc003e;
  text-decoration: none;
}

.news-read-more a:hover {
  text-decoration: underline;
}

.best-seller-list {
  text-align: center;
  list-style: none;
}

.best-seller-item {
  display: inline-block;
  position: relative;
  height: 176px;
  width: 135px;

  background: #fff;
  margin: 10px;
  padding-top: 10px;
}

.best-seller-tag {
  color: #cc003e;
  margin: 12px 0;
}

.best-seller-image-wrapper {
  width: 122px;
  height: 122px;
  margin: auto;
}

.best-seller-image-wrapper img {
  width: 100%;
  height: 100%;
}

.about-contact-body {
  text-align: left;
  font-size: 12px;
}

.about-contact-body p {
  margin: 15px 0;
}

.contact-info {
  color: #333333;
  font-weight: bold;
  margin: 20px 0;
}

.phone-number {
  font-size: 24px;
}

.footer-top {
  text-align: center;
}

.footer-header {
  font-size: 22px;
  padding: 16px 0;
  padding-bottom: 6px;
  text-align: left;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}

.footer-nav-list {
  list-style: none;
  margin-left: 17px;
}

.footer-nav-list li::before {
  content: "\2022";
  color: #cc003e;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.footer-nav-item a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.footer-nav-item a:hover {
  text-decoration: underline;
}

.tweet-list {
  list-style: none;
}

.tweet-item {
  margin: 12px 0;
}

.tweet-content {
  display: inline-block;
  width: 80%;
  font-size: 12px;
  text-align: left;
  padding-left: 20px;
}

.hash-tag {
  color: #cc003e;
}

.hash-tag:hover {
  cursor: pointer;
}

.news-letter-body p {
  text-align: left;
  font-size: 12px;
}

.news-letter-body b {
  text-align: left;
  font-size: 12px;
}

.footer-search {
  margin: 20px 0;
}

.about-us-body {
  font-size: 12px;
  text-align: left;
}

.about-us-footer {
  margin: 30px 0;
}

.about-us-footer ul {
  list-style: none;
}

.about-us-footer ul li {
  display: inline-block;
}

.icon-list {
  margin-bottom: 10px;
}

.footer-bottom {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .extras {
    display: inline-block;
  }
}

@media screen and (min-width: 1002px) {
  .header-pop-up {
    display: none;
  }

  .search-icon {
    position: absolute;
    left: -30px;
    text-decoration: none;

    background: #fff;
  }
}
