.pandora-logo {
  float: left;
  margin-right: 16px;
}

.pandora-text {
  float: left;
  margin-top: 6px;
  font-size: 12px;
  color: #cc003e;
}

.account-info ul {
  list-style-type: none;
}

.account-info ul li {
  display: inline-block;
}

.account-info-link {
  text-decoration: none;
  color: black;
}

.account-info-link:hover {
  color: #cc003e;
}

.hamburger-icon:hover {
  cursor: pointer;
}

.header-icon {
  margin-top: 10px;
}

.login-label {
  font-size: 10px;
  font-weight: bold;
  margin-right: 15px;
}

.login-input {
  margin-right: 15px;
  height: 28px;
  border: none;
  width: 168px;
  padding-left: 5px;
}

.email-wrapper {
  float: left;
}

.password-wrapper {
  float: left;
  position: relative;
}

.forget-link {
  position: absolute;
  left: 110px;
  top: 5px;
}

.login-btn {
  background: #cc003e;
  padding: 10px 18px;
  border: none;
  margin-right: 15px;
  color: white;
}

.login-btn:hover {
  cursor: pointer;
  background-color: #cc6f0e;
}

.header-bottom-down {
  overflow: auto;
  padding: 22px 0;
}

.nav-wrapper {
  float: left;
}

.nav-item {
  padding: 0 18px;
  padding-bottom: 10px;
}

.nav-item:hover {
  border-bottom: 2px solid black;
}

.nav-item a {
  text-decoration: none;
  color: black;
}

.search-wrapper {
  float: right;
}

.nav-wrapper ul {
  list-style: none;
}

.nav-wrapper ul li {
  display: inline-block;
}

/* pop up */

.account-info-sm ul {
  list-style: none;
}

.account-info-sm ul li {
  margin: 20px;
}

.login-wrapper-sm {
  margin: 20px;
  /* border: 2px solid blue; */
}

.login-input-sm {
  width: 60%;
  height: 30px;
  margin: 10px 0;
}

.navbar-sm {
  margin: 20px;
}

.navbar-sm ul {
  list-style: none;
}

.navbar-sm ul li {
  margin: 15px 0;
}

.search-input-sm {
  width: 50%;
  margin: 20px;
}
/* pop up */

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1002px) {
  .header-pop-up {
    display: hidden;
    border: 20px solid red;
  }
}
